.form {
    margin-bottom: 30px;
    font-size:26px;
    font-weight:500;
    
}
.form-label {
display: flex;
flex-direction: column;
row-gap: 15px;

    & span{

width: 320px;
font-size:28px;
font-weight:500;
    }
}