.selected-flags {
    @include flags(200px)
}

.selected-name{
    font-weight:700;
    font-size:42px;
    margin:0;
    align-self:flex-end;
}

.selected-list{
    font-weight:700;
    font-size:26px;
    & span {
        font-weight: 500;
    }
    & li:not(:last-child){
        margin-bottom: 20px;
    }
}